﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Sample MVC Frontend Demo: ResistorColorCode</a>.</p>
</div>

<h3>Click on below links to start</h3>
<ol class="round">
    <li class="one">
        @Html.ActionLink("MVC-Resistor Color Code Calculator", "ResistorColorCode", "Home")
    </li>
</ol>
