﻿@model Frontend_MVCApp.Models.ColorCodesViewModel

@{
    ViewBag.Title = "Resistor Color Code Calculator";
}

<form method="post">
    <div>
        <div>

            1st Digit: &nbsp;
            @Html.DropDownList("bandAColor", Model.ColorCodes, new { bandAColor = "Color", style = "width:140px;font-size:11pt;" }) &nbsp;&nbsp;

            2st Digit: &nbsp;
            @Html.DropDownList("bandBColor", Model.ColorCodes, new { bandBColor = "Color", style = "width:140px;font-size:11pt;" }) &nbsp;&nbsp;

            Multiplier: &nbsp;
            @Html.DropDownList("bandCColor", Model.MultiplierColorCodes, new { bandCColor = "Color", style = "width:140px;font-size:11pt;" }) &nbsp;&nbsp;

            Tolerance: &nbsp;
            @Html.DropDownList("bandDColor", Model.ToleranceColorCodes, new { bandDColor = "Color", style = "width:140px;font-size:11pt;" }) &nbsp;&nbsp;

            <br /><br />
            <input type="submit" value=" Submit " />
        </div>

        <div>
            <div>
                <div class="form-group text-left">
                    <label>Resistance:</label>
                </div>
                <div class="form-group">
                    <input type="text" id="txtBoxResistance" class="form-control" placeholder="Resistance" value="@ViewBag.BaseValue">&nbsp;ohms
                </div>
            </div>
            <div>
                <div class="form-group text-left">
                    <label>Tolerance:</label>
                </div>
                <div class="form-group">
                    <input type="text" id="txtBoxTolerance" class="form-control" placeholder="Tolerance" value="@ViewBag.Tolerance">
                </div>
            </div>
            <div>
                <div class="form-group text-left">
                    <label>Minimum:</label>
                </div>
                <div class="form-group">
                    <input type="text" id="txtBoxMin" class="form-control" placeholder="Minimum" value="@ViewBag.MinValue">&nbsp;ohms
                </div>
            </div>
            <div>
                <div class="form-group text-left">
                    <label>Maximum:</label>
                </div>
                <div class="form-group">
                    <input type="text" id="txtBoxMax" class="form-control" placeholder="Maximum" value="@ViewBag.MaxValue">&nbsp;ohms
                </div>
            </div>
        </div>

        <br />
    </div>
</form>
